body {
    background-color: #f5f2f2;
}
a{
    color: black;
    text-decoration: none;
}

#top-menu .video-icon{
    background-color: #ff6600;
    color: white;
    border-radius: 15%;
}
.navbar .navbar-nav .nav-link:hover{
    color: white;
    background-color:  #ff6600;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.btn {
    color: #fafafa;
    background-color: #ff6600;
}
.btn:hover {
    color: #000000;
    background-color: #f57f30;
}

.card .card-icons{
    position: relative;
}

.sidebar-icon {
    color: #ff6600;
}


time{
    position: absolute;
    bottom: 10px;
    left: 7px;
    background-color: black;
    color: white;
    padding: 0px 3px;
}
.card .fa-play{
    position: absolute;
    top: 50%;
    right: 45%;
    color: rgb(255, 86, 1);
    display: none;
    font-size: 50px;
}
.card:hover .fa-play{
    display: inline;
}
.card:hover{
    transform: translateY(-0.9%);
}
.card{
    transition: transform .5s;
}
.navbar .fa-bars{
    cursor: pointer;
}
.sidebar{
    position: fixed;
    z-index: 4;
    left: -17rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background-color: white;
    overflow: hidden;
    padding-bottom: 60px;
}
.sidebar:hover{
    overflow-y: scroll;
}
.sidebar .list-group-item{
    width: 17rem;
}

#wrap.toggled .sidebar{
    left: 0rem;
}
#toggler{
    color: white;
}
.sidebar::-webkit-scrollbar{
    background-color: rgb(194, 188, 188);
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: #fafafa;
    width: 8px;
}
.layer{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0 ,0.5);
    z-index: 3;
    display: none;
}